spring:
  application:
    name: hops-microservice-user
  redis:
    host: 192.168.10.10
    database: 6
    password: redispassword
#  data:
#    mongodb:
#      uri: mongodb://user:123456@192.168.10.10:27017/user?authMechanism=SCRAM-SHA-1

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.10.10/hops_user?useUnicode=true&characterEncoding=UTF8
    username: root
    password: 123456
  jpa:
    generate-ddl: true
    show-sql: true
server:
  port: 7001
fox:
  security:
    oauth2:
      clients[0]:
        clientId: fox
        clientSecret: foxsecret
        accessTokenValidateSeconds: 3600
        
eureka:
  client:
    serviceUrl:
      defaultZone: http://192.168.10.10:8761/eureka/
  instance:
    prefer-ip-address: true
